@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');

header {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #777777;
}

h2 {
    font-family: 'Work Sans';
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #444444;
    margin-left: 30px;
}



#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 5px;
}

#logo, #menu {
    line-height: 75px;
}

nav ul {
    float: right;
}

#menu li {
    display: inline;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)
    }
}

.card-img-top {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 350px; 
    margin: auto;
}

footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 3%;
    color: #777777;
}





#our-tours {
    text-align: center;
    padding: 5px 0;
    font-size: 200%;
}

#our-tours p {
    margin: 0 10px;
    line-height: 1em;
}


.gallery {
  column-count: 4;
  column-gap: 10px;
  margin-top: 30px;
}

.gallery > img {
  width: 100%;
  margin: 5px 0 5px 0;
}

/* Contact form */

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 20px;
    color: #302d2d;
}

.form-section {
    background-size: cover;
    background-position: center;
    max-height: 700px;
}

.contact-form {
    margin: 120px auto;
    color: #fff;
    background: rgba(58, 58, 58, 0.5);
    max-width: 800px;
    position: fixed;
    padding: 30px;
    border: 4px dashed black;
    border-radius: 30px;
    display: inline-block;
}

.contact {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


input,
button,
select,
optgroup,
textarea {
  margin: 5px;
}




#choose-us {
    height: 650px;
}

#left-why {
    padding-top: 20px;
    width: 33%;
    float: left;
}

#right-why {
    padding-top: 20px;
    width: 33%;
    float: right;
}

#center-why {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 8px;
}

.left-why-heading {
    width: 50%;
    float: right;
    line-height: 18px;
    clear: both;
    margin-bottom: 10px;
}

.right-why-heading {
    width: 50%;
    float: left;
    line-height: 18px;
    clear: both;
    margin-bottom: 10px;
}

.right-why-heading h4 {
    text-align: right;
}

.right-why-heading p {
    text-align: right;
}

#why {
    margin: 30px;
    text-align: center;
    font-size: 200%
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 2px dashed #777777;
    border-radius: 30%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('/assets/images/sun.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 30%; 
}